
<div class="col-md-4 offset-md-4 mt-3 mb-3">
    <input type="search" name="search" [(ngModel)]='search' class="form-control">
    </div>
    <div class="alert alert-success" *ngIf='message'>{{ message }}</div>
<h4 class="text-center" *ngIf='(products | filter : search).length===0'> No product found with the name you searched</h4>
<div class="col-md-4 mt-4 float-left" *ngFor='let product of products | filter :search'>
    <div class="card *ngFor = 'let product of products'">
        <div class="card-body">
            <img [src]="product.imageUrl" alt="" width = "100%">
            <p>{{product.productName | uppercase}}</p>
            <p>{{product.productDescription | titlecase}}</p>
            <p>{{product.price}}</p>
            <button class="btn btn-outline-primary" (click) = 'selectProduct(product)'>Update</button>
            <button class="btn btn-outline-dark float-right" (click) = 'deleteProduct(product)'>Delete</button>
        </div>
    </div>
</div>
